body {
    position: relative;
    background-attachment: fixed;
     background-image: url('background.jpg');
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor sin distorsionar */
    background-position: center; /* Centra la imagen en el contenedor */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Utiliza la fuente "Lato" */
    font-weight: bold; /* Aplica el estilo de fuente en negrita */
    
}

.landing {
    color: white;
    font-size: xx-large;
    position: relative;
    margin-top: 40px;
    right: 350px; ;
}

.landing-buttom {
    text-decoration: none;
    color: white;
    position: absolute;
    left: 25px;
    display: block;
    font-size: x-large;
    border: solid 3px rgb(221, 185, 183);
    padding: 8px;
}

.landing-buttom:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: solid 3px #79583d00;
    padding: 8px;

}

.nav-home{
    display: flex;
    justify-content: space-between;
    background-color: #442f1e45;
    padding: 0.7rem;
}
.navbar-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000b5;
    box-shadow: 0 0 10px rgba(90, 56, 38, 0.95);
}

.navbar-img img {
    width: 4rem;
    justify-content: space-around;
    padding: 5px;
}

.navbar-link {
    color: white;
    display: block;
    font-size: large;
    padding: 5px;
}

.navbar-link:hover{
    transform: scale(1.02);
}

.navbar-link a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 5px 10px; /* Agrega espacio interno a los enlaces */
}


.card-contenedor {
    position: relative;
    width: calc(20% - 2 * 10px); /* Ajusta el ancho de cada tarjeta y considera el espacio horizontal */
    box-sizing: border-box;
    height: 15rem;
    margin-bottom: 10px; /* Añade margen inferior para el espacio vertical */
  }
  
.card-contenedor::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1; /* Coloca el fondo detrás del contenido */
  }

.card-contenedor:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.95); /* Agrega una sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agrega una transición suave */
  }
  
.card-contenedor a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto del elemento padre (card-estilo) */
  }

.card-estilo {
    color: white;
    opacity: 1;
    padding: 0rem;
    max-height: 100px;
    white-space: pre-wrap; /* Permite que el texto se divida en varias líneas */
  }
  
.card-imagen {
    opacity: 1;
    width: 100%;
    height: auto;
  }

.card-imagen img {
    width: 100%; 
    height: 8rem; 
  }
  
 .cards-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    max-width: 1200px; /* Establece el ancho máximo del contenedor de tarjetas */
    margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
    padding: 30px; /* Agrega un espacio interior al contenedor */
 } 

.form-contenedor {
    background-color: white;
    opacity: 90%;
    width: 40rem;
    display: flex;
    justify-content: center;
}

.form-contenedor-cont {
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.form-error {
   color: red;
   font-weight: bold; 
}

.form-selector {
    color:white;
    font-weight: bold;
    background-color: #79583d;
    padding: .3rem;
}

.filter-button {
    background-color: #2e141480;
    color: #ffffff;
    padding: 0.2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter-button.active {
    background-color: #513628;
    color: white;
  }
  
  .filter-button:hover {
    background-color: rgba(255, 255, 255, 0.303);
    color: #513628;
  }

.action-button{
    background-color: #2e141480;
    color: #ffffff;
    padding: 0.2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: .2rem;
    box-shadow: 0 0 10px rgba(90, 56, 38, 0.639);
}

.action-button:hover {
    background-color: #6e3518;
}

.details-conten {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide el contenido en dos columnas iguales */
    align-items: center;
    gap: 20px; /* Espacio entre las columnas */
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.701); /* Fondo blanco con transparencia */
    box-shadow: 0 0 10px rgba(250, 248, 248, 0.237); /* Sombra suave */

}

.details-conten img {
    max-width: 100%;
    height: auto;
    margin-bottom: 6rem;
}

.details-conten h1 {
    font-size: 60px;
    font-weight: bold;
  }

.details-conten > div:last-child {
    display: flex;
    flex-direction: column;
    color:white;
    font-weight: bold;
    font-size: x-large;
    gap: 10px;
    padding: 3rem;
    box-shadow: 0 0 10px rgba(168, 94, 24, 0.942); /* Sombra suave */
    background-color: #79583d;
  }

